body{
    background: tomato;
}

.board{
    $size: 500px;
    font: normal 0.8em sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: grid;
    width: $size;
    height: $size;
    padding: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 4px;    
    border: solid 4px white;

    .snake, .dot{
        background: white;
        border-radius: 10%;
    }


}