doctype
html(lang="es")
    base(href="./")
    head
        title Snake
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
    body
        .board
        script(src="js/board.js")
        script(src="js/movement.js")
        script(src="js/snake.js")
        script(src="js/script.js")